body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "titulo"
        "apuntes"
    ;
    border: 0.2em solid  rgb(96, 173, 224);
    margin: 2em auto;
    width: 1000px;
    box-shadow: 1em -1em rgba(0,0,0,0.2);
    position: relative;
}

section.apuntes {
    padding: 1em;
    column-count: 2;
    column-rule-width: 1px;
    column-rule-style: solid;
    column-rule-color: rgb(96, 173, 224);
    column-gap: 2em;
}

section.apuntes p{
    text-align: justify;
}

section.apuntes article h2{
    font: 1.3em tahoma;
    color: white;
    background-color: grey;
    padding: 0.2em;
    border-radius: 0.3em;
}